[package]
name = "dnx-core"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
nusb = { workspace = true }
byteorder = { workspace = true }
